* { /* Todos los elementos de la página tienen borde */
	border: thin solid #442A5D;
}
.parrafoenlinea { /* A continuación, se define una clase para cada párrafo del que queremos probar la propiedad display */
	display: inline;
	width: 20%;
}
#negrita {
	display: block;
	font-weight: bold;
}
.parrafoenlista {
	display: list-item;
	list-style-type: square;
	margin-left: 50px;
}
.nomostrar {
	display: none;
}
.contexto {
	display: run-in;
}
.bloqueenlinea {
	display: inline-block;
	height: 150px;
	width: 150px;
}
.celdadetabla {
	display: table-cell;
	padding-right: 5px;
	padding-bottom: 5px;
}
.desplazado {
	position: relative;
	top: 20px;
	right: 20px;
}