* {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
div.exterior p, div.exteriorgrande p {
	background-color: #CEA885;
}
.exterior {
	background-color: #789498;
	height: 100px;
	width: 100px;
	margin: auto;
	text-align: center;
}
.exteriorgrande {
	background-color: #789498;
	height: 200px;
	width: 100px;
	margin: auto;
	text-align: center;
}
.interior {
	background-color: #755E8B;
	text-align: center;
	height: 50px;
}
#margen20 {
	margin: 20px;
}
#margen2510 {
	margin: 25px 10px;
	padding-right: 10px;
	padding-left: 10px;
}
#margen25103 {
	margin: 25px 10px;
	padding: 5px;
}
#margen25102 {
	margin: 25px 10px;
	padding: 20px;			
}
#margennegativosolo {
	margin-right: -20px;
	margin-top: 25px;
}
#margennegativo {
	margin-right: -20px;
	margin-left: 20px;
	margin-top: 25px;
}
#margeninferiornegativo {
	margin-bottom: -20px;
}
#dosprimera {
	margin: 20px;
}
#dosprimerados {
	margin: 10px;
}
#dossegunda {
	margin: 20px;
}
#dossegundados {
	margin: 30px;
}