body{
	background: lightblue url("cyl.jpg") no-repeat top right;				
}

#contenedor{				
	box-shadow: 2px 2px 5px black;
	width: 200px;
	height: 200px;
	overflow: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}						

#contenedor img{
	width: 300px;
	height: 300px;				
}
